{% extends "base.html" %}


{% block head %}
<script type="text/javascript">
    function deleteFridgeEntry(fridgeEntryId) {
        console.log("deleteFridgeEntry: fridgeEntryId=" + fridgeEntryId);
        url = $SCRIPT_ROOT + "/fridge_entry/" + fridgeEntryId;
        $.ajax({
            type: "DELETE",
            url: url,
            success: function(data) {
                console.log("deleteFridgeEntry: " + url + ", success=" + data.success);
                location.reload();
            },
            failure: function() {
                console.log("deleteFridgeEntry: " + url + ", success=false");
                location.reload();
            }
        });
    }
</script>
{% endblock %}


{% block content %}
<ul>
    {% for entry in fridge_entries %}
    {% set freshness = entry.freshness.name %}
    {% if freshness == 'Fresh' %}
    {% set class_name = 'fresh' %}
    {% elif freshness == 'NotFresh' %}
    {% set class_name = 'not_fresh' %}
    {% elif freshness == 'Unusable' %}
    {% set class_name = 'unusable' %}
    {% else %}
    {% set class_name = '' %}
    {% endif %}
    <li class="fridge_entry {{ class_name }} horizontal">
        <div class="name">{{ entry.foodstuff.name }}</div>
        <div class="time">{{ -(entry.storage_time)|pretty_timedelta }}</div>
        <div class="button" onclick="javascript:deleteFridgeEntry({{ entry.id }});">X</div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
