# This file serves as a reference for private variables you might set when developing or deploying this application. It
# should be duplicated as 'config_secret.py' and your own configuration added.

SECRET_KEY = 'super-secret-generated-key'
